.service-container{
    height:max-content;
    display:flex;
}

.service-img{
    width: 50%;
    height: 100%;
    overflow-y: hidden;
}

.service-img img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.service-content{
    height: 100%;
    width: 50%;
    padding: 10%;
}

.service-content h1{
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.item{
    display: flex;
    margin-bottom: 50px;
}

.item img{
    width: 10%;
}

.item h4{
    margin-left: 10px;
}

@media (max-width: 1000px){
    .service-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .service-content{
        position: absolute;
        z-index: 100;
        margin: 10px 0px 10px 0px;
        background-color: rgba(255, 255, 255, 0.452);
    }
    .service-img{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .service-img img{
        width: 100%;
        height: cover;
    }
}

@media (max-width: 480px){
    .service-content h1{
        font-size: 3rem;
    }

    .service-content{
        width: 70%;
    }

    .item h4{
        font-size: 1rem;
    }
}