.contact-container{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
}

.links-container{
    width: 50%;
    padding:10%;
}

.link-item{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}

.link-item img{
    width: 75px;
    margin: 15px;
}

.form-container{
    width: 50%;
    padding:10%;
    background: rgb(61,83,164);
    background: linear-gradient(0deg, rgba(61,83,164,1) 0%, rgba(16,27,54,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container h1{
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
}

.form-container form input, .form-container form textarea, .form-container form button{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #3D53A4;
    color: #ffffff;
    border: none;
    border-style: none;
    transition: all 0.2s ease-in-out;
}

.form-container form input:hover, .form-container form textarea:hover, .form-container form button:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.521);
}

.form-container form button{
    font-weight: 400;
    font-size: 1.2rem;
}

::placeholder { 
    color: #ffffff;
    opacity: 1; 
  }
  
  :-ms-input-placeholder { 
    color: #ffffff;
  }
  
  ::-ms-input-placeholder { 
    color: #ffffff;
  }

  @media (max-width: 768px){
      .contact-container{
          flex-direction: column;
      }

      .links-container, .form-container{
          width: 100%;
      }

      .link-item{
          justify-content: center;
          flex-direction: column;
      }
  }

  @media (max-width: 480px){
    .form-container{
        margin: 0;
    }

    .form-container h1{
        font-size: 3rem;
    }

    .form-container form{
        padding: 0px 20%;
        width: 100%;
    }

    .link-item img{
        width: 55px;
    }

    .link-item a {
        font-size: 1rem;
    }
}