.footer-container{
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 20px;

}

.footer-content{
    width: max-content;
}

.footer-container img{
    width: 75px;
    justify-self: center;
    margin: 10px;
}

.footer-container p{
    text-align: center;
    margin: 30px;
}

@media (max-width: 480px){
    .footer-container img{
        width: 60px;
    }
}

#tag{
    font-size: 0.5rem;
    margin-top: 0px;
}